.mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 960px;
    height : 100vh;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
.logo{
    width: 565px;
    height: 223px;
    padding-top: 80px;
}
.script{
    color: white;
    font-size: 3em;
    font-family: Black Han Sans;
    margin-bottom: 0;
}
.discript{
    color: white;
    font-size: 22px;
    font-family: IBM Plex Sans KR;
    margin-top: 10px;
}